@font-face {
  font-family: 'DIN Alternate';
  src: url('DINAlternate-Regular.woff2') format('woff2'),
    url('DINAlternate-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Alternate Medium';
  src: url('DINAlternate-Medium.woff2') format('woff2'),
    url('DINAlternate-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('SpaceGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('SpaceGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('SpaceGrotesk-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('SpaceGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url('Cardo-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url('Cardo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
